.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  p {
    padding-top:120px;
    margin-left: -60px;
    opacity: 0.8;
  } 
}

// ADD BLINKING TEXT CLASS
.blinking {
	animation: blinker 0.5s linear infinite;
}
@keyframes blinker {  
  50% { opacity: 0; }
}